[2018-02-28 16:28] shreyasbapat opened #1 "Enable all the links and modify the webpage to accept Exodia Entries"

[2018-02-28 17:31] shreyasbapat commented on #1
Still needs a lot of enhancements

[2018-03-14 10:28] shreyasbapat opened #6 "Fixing the Links on the website"
:bulb:
Most of the links such as Vision, Inventory, Telescopes etc are not showing the data that is expected.

:1st_place_medal:
Separate every page on that section and make proper links

[2018-03-14 10:36] shreyasbapat opened #7 "Creating an Inventory Management System"
:beetle:
**Problem** : Anyone takes anything from the STAC room and the co-ordinators and members are most of the time unaware of it. Another point is that the damage that happen to the equipment is untraceable.

:paintbrush:
**Possible Solution** : Make a inventory management tool that can track who has taken what and can show all the records when needed.

[2018-03-14 10:38] shreyasbapat commented on #1
Even after merging #5  , it still needs a lot of changes to be done.

[2018-03-14 10:47] shreyasbapat commented on #7
@chandan1794  How about this?

[2018-03-14 12:34] shreyasbapat opened #12 "Creating a page for details of Co-ordinators and Faculty Advisors"
:beetle: **Problem** : The link to the Co-ordinator and Faculty Advisor takes us to page for vision.
:bulb:  **Solution** : Make 2 pages in the same format where the co-ordinator details and Faculty Advisor details will be shown.
:computer:  **Technologies** : You will learn basic HTML, CSS in doing this.

[2018-03-14 13:08] chandan1794 commented on #1
Links of problem statements are working after merging #5. The only thing which we need is forms for the 1st and the last event.

[2018-03-14 13:18] chandan1794 commented on #7
Its a very good idea. But there are some questions lingering in the open daylight here.
1. Do we have a server to host a database? (It will need a database)
2. Should we implement the whole inventory management system? Since we can use an already implemented code and if we github a little, we will find one, suitable to our needs for sure.
3. Is this urgent? Since the website is still not responsiv

[2018-03-14 14:05] shreyasbapat commented on #7
Okay!
1) Yes we do have a server to host a database. We can manage that.
2) No. We will just follow what every other open source organization does. We will take some already implemented code which probably has a MIT Licence.
3) Not urgent, but the things can be divided. Anyways, the goal is to learn things. Personally, as a club coordinator, I don't really care about the website. But yes, it is ne

[2018-03-14 15:25] shreyasbapat commented on #1
We will have the forms as soon as the website of Exodia is ready.

[2018-03-14 15:56] shreyasbapat opened #14 "Links Not Working"
:beetle: **Problem**: The button ``Explore`` has an absolute link and due to which it doesn't take us to exoida page.
![screenshot from 2018-03-14 21-23-06](https://user-images.githubusercontent.com/24257914/37414037-48a5885e-27ce-11e8-82e6-49c1eee21f0d.png)

:notebook: **Solution** : Make it relative (Quite Easy)

:bulb:  **Bonus** : Find such bugs in the website and fix them.

[2018-03-14 18:47] AnweshDas commented on #6
do you want a frameset type wepage with all datas in a single page?

[2018-03-15 12:59] shreyasbapat opened #15 "Add space to showcase events and their posters"
:bulb: **Problem** : We don't have a page which showcases the posters and Prize money of the Events.
:star:  **Bonus** : -None-

[2018-03-15 16:04] shreyasbapat commented on #6
Anything that looks cool! You choice!

[2018-03-15 19:25] shreyasbapat opened #16 "Change the complete appearance of the website"
:question:  Is it feasible? Or more appropriately, is it worth doing? Garvit has suggested that the website does not look good.

[2018-03-15 19:31] chandan1794 commented on #16
Yes, it is feasible and very much necessary. Since, this is the only interface to the outer world. It should look good.
"Jo dikta he, wo bikta he" ;)

[2018-03-15 19:38] shreyasbapat commented on #1
Closing this as Exodia things are done! And We already have #14

[2018-03-15 19:38] #1 closed

[2018-03-21 18:28] rtanmay commented on #7
Some doubts:-

1)If a person takes something from the STAC room, then will the person have to input the equipments taken or it is done by the co-ordinators?

2)To track the damage done, the equipments have to be checked by the co-ordinators after they are returned by the person right?

[2018-03-21 19:20] shreyasbapat commented on #7
The person on his own will input the equipments. Yeah maybe! Core Members can keep an eye on equipments.  :stuck_out_tongue_winking_eye:

[2018-03-22 07:10] b17126 commented on #16
Hello sir , How can i find code for this html website?
because i think that we should modify our code to improve our website's looking.

[2018-03-22 07:31] shreyasbapat commented on #16
@b17126  Can I know your name?

[2018-03-22 07:32] shreyasbapat commented on #14
#17  Fixed one such link!

[2018-03-22 08:03] #14 closed

[2018-03-24 23:31] Muzzammil15 commented on #6
Completed , i will commit later

i pushed to master, can't commit again, have to make a branch

[2018-03-24 23:35] Muzzammil15 commented on #12
completed

[2018-03-25 15:08] shreyasbapat commented on #6
Still a small change that can be done is: Put the headings in the coloured area!

[2018-03-25 15:09] shreyasbapat commented on #12
Thanks! :tada:

[2018-03-25 15:09] #12 closed

[2018-03-25 15:09] shreyasbapat commented on #12
#19  Referenced this

[2018-03-25 15:13] shreyasbapat opened #20 "Remove the unneccesary copyright statement"
:100:  Write on every page : - Developed by Web-Development Team - STAC

[2018-03-26 12:06] Muzzammil15 commented on #20
completed

[2018-03-28 10:49] Varunvaruns9 commented on #7
I'll do it.
@shreyasbapat

[2018-03-29 12:58] shreyasbapat commented on #7
Yeah! Start working on it!

[2018-03-30 13:52] #20 closed

[2018-03-30 14:03] shreyasbapat commented on #16
@akshat157  I made some changes in branches

[2018-04-14 15:37] priyanshsaxena commented on #7
Assign @Varunvaruns9 to the issue @shreyasbapat

[2018-04-14 15:39] priyanshsaxena opened #27 "Add an archive to the website to list previous work done in STAC."
This can include lists of previous co-ordinators, trips, major-events, achievements.

[2018-04-14 15:42] priyanshsaxena opened #28 "Add educational resource-material for people to engage with us."
Presentations on the topics discussed in STAC meetings or links people find interesting. This can also include discussion-ideas that people post to us, as a blog or QA-portal.

[2018-04-15 06:08] shreyasbapat commented on #27
@akashdakoor  Wanna give it a try?

[2018-05-01 20:02] shreyasbapat opened #31 "Adding Various Social Networking Icons in the footer"
@akshat157  Add these links in footer along with facebook and github.

Instagram: https://www.instagram.com/stac_iitmandi/
YouTube : https://www.youtube.com/channel/UCnmH6Nadt91VEkoeN_lK-rA
Twitter : https://twitter.com/stac_iitmandi

Any other suggestion?

[2018-05-02 19:40] shreyasbapat commented on #31
Closing this!

[2018-05-02 19:40] #31 closed

[2018-05-02 22:11] shreyasbapat commented on #7
Have a look at this everyone: https://github.com/STAC-IITMandi/Inventory
[Currently under development] Once it's upto the mark as per @Varunvaruns9 , I will make it open to contributions. And the PR's can be monitored by @swapsha96  @Varunvaruns9  and me!

[2018-05-11 13:07] shreyasbapat opened #38 "Banner Text not visible on small screens"
**Describe the bug**
A clear and concise description of what the bug is.
:beetle: The text on the banner becomes out of visual area on small screens.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'stac-iitmandi.github.io'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If a

[2018-05-11 18:57] akshat157 commented on #6
Since the template has been changed now. this issue seems to be obsolete.
@shreyasbapat

[2018-05-11 19:03] shreyasbapat commented on #6
True!

[2018-05-11 19:03] #6 closed

[2018-05-11 20:16] shreyasbapat commented on #16
Awesome work @akshat157 ! Great to see your efforts in completing this! Congratulations!

As there's no need to continue this thread, closing this now!

[2018-05-11 20:16] #16 closed

[2018-05-11 20:17] akshat157 commented on #38
Issue needs correction. The URL given isn't correct.
https://stac-iitmandi.github.io works!

[2018-05-11 20:32] shreyasbapat opened #42 "Add proper wiki pages for future developers!"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
https://github.com/STAC-IITMandi/STAC-IITMandi.github.io/wiki
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of a

[2018-05-12 19:38] #38 closed

[2018-05-16 17:43] akshat157 opened #49 "Fix the sideNav on Mobile devices"
**Description**
On mobile / small screen devices, when trying to navigate to Contact (which scrolls down the page to the footer.). The page scrolls smoothly down to the footer, but then
1. the sideNav should slide back automatically, which doesn't happen.
2. on sliding the sideNav out by clicking anywhere else, the page reverts back to the banner / previous location, whereas, it should stay at the

[2018-08-22 11:57] shreyasbapat opened #50 "Create a Text-Slideshow on the home page!"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-08-22 18:09] shreyasbapat commented on #7
Hi! @Varunvaruns9 ,
Can you help @akashdakoor and @ananya2501 deploy the Inventory on SnTC server?

(After making certain minimum changes)

[2018-08-22 18:10] shreyasbapat commented on #7
Meanwhile, I will close this issue here!
Thanks! @Varunvaruns9 for the contribution!

[2018-08-22 18:10] #7 closed

[2018-09-04 15:36] akshat157 opened #51 "Update contact details"
- Add link to slack workspace in contacts.
- Update contact details of coordinators.

[2018-09-04 15:39] akshat157 opened #52 "Add a 404 Page Not Found page."
Add an

 error page, based on the template page already inside the repository.
Add this error page to all the currently not working hyperlinks.

[2018-09-04 16:16] shreyasbapat opened #53 "Create a structure for Hack Week"
Events
Methodology

[2018-09-06 15:05] priyanshsaxena commented on #52
Have a look at this: https://www.figma.com/404/

An shtml page for 404 and 500 should be there. For this particular use-case of not having working URLs, we can probably add an engaging "Coming Up Soon" page, maybe with a site-map or a fun-fact related to astronomy.

[2018-09-17 06:25] shreyasbapat opened #55 "Fix the mobile view of Activities Page"
**Describe the bug**
A clear and concise description of what the bug is.
Well... Just see the Zenith icon on mobile view, you'll know!
@akashdakoor
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screens

[2018-09-17 06:53] akashdakoor commented on #55
Oh xD will fix that after class

[2018-09-20 12:09] #53 closed

[2018-09-30 23:30] MADPT commented on #55
I'll work on this issue

[2018-10-01 00:12] MADPT commented on #55
You can check the fix in the #60 PR

[2018-10-01 07:32] Ayaz1997 commented on #52
I am working on this issue @akshat157

[2018-10-01 08:50] shreyasbapat commented on #52
Closed in #61

[2018-10-01 08:50] #52 closed

[2018-10-01 18:02] aayusss commented on #50
What is the material for the text slideshow?

[2018-10-01 18:03] shreyasbapat commented on #55
Closed in #60
Thanks @MADPT

[2018-10-01 18:03] #55 closed

[2018-10-01 20:17] shreyasbapat commented on #50
Just put some random materail as of now. (You can use one which is currently there are slide it multiple times!)

[2018-10-01 20:30] shreyasbapat commented on #51
Closed in #54

[2018-10-01 20:30] #51 closed

[2018-10-01 20:31] shreyasbapat opened #62 "Rename activities.html to zenith.html ? And add Activities.html separately?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2018-10-01 20:32] shreyasbapat commented on #62
Aah! I will do it myself! :confused: I am still not sure what to do!

[2018-10-01 22:21] shreyasbapat opened #63 "Add Percy for Visual Changes Monitoring"
**Is your feature request related to a problem? Please describe.**
I am really frustrated asking people screenshots of the work they have done. (Which most of the times is wrong)
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
PERCY -> https://percy.io/
**Describe alternatives you've considered**
A clear and concise description of any alternative so

[2018-10-04 13:43] akim8 commented on #49
I will take a look into this.

[2018-10-06 11:55] chandan1794 opened #65 "STAC logo at the top should redirect to the home page."
**Is your feature request related to a problem? Please describe.**
Since all the websites with such format follow the same patters, it has become an intuitive process to click on the icon to get redirected to home. It is just a good practice.

**Describe the solution you'd like**
Make it redirect to home.

**Describe alternatives you've considered**
None

**Additional context**
None

[2018-10-06 12:11] chandan1794 commented on #62
What will activities.html contain then?

[2018-10-06 12:19] chandan1794 opened #67 "Some links and buttons are not responsive"
**Describe the bug**
Some links and buttons are not responsive. Like **Inventory** in the nav-bar, **Archives**, **Alumni** and **Administer** in the footer. This is not user-friendly. Either we should remove them and show them when they are functioning properly or we should give a message indicating that we are still working on it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any p

[2018-10-06 12:28] chandan1794 commented on #42
What all you want to add to the wiki page?
Let's make a list:

1. Purpose
2. Contributing guidelines
add items to the list in comments...

[2018-10-06 12:31] chandan1794 commented on #28
This can also include all the videos of talks we had or will have.

[2018-10-06 15:18] akshat157 commented on #67
We can link them to a Error 404 page, with an "under construction" message. If the error page is already complete, the task is to link it to these buttons. If not, one can make the error page and link them.
Opening this up for hacktoberfest!

[2018-10-06 16:20] chandan1794 commented on #67
I'd suggest showing a tooltip message instead of designing a whole page, which will only contribute to frustration and also there should not be too many 404 ;)

[2018-10-06 18:18] shreyasbapat commented on #42
Contributing Guidelines are already there. Contributing.rst!
The point is, there must be some core principles, we must maintain a decorum and uniformity, some set of rules,
Project Structure and how it should be in future.
How to release a version
When to release a version

[2018-10-07 17:04] akshat157 commented on #67
That sounds good as well! Leaving this upto whoever takes up the issue. :slightly_smiling_face:

[2018-10-09 10:20] abisummers commented on #67
i'll take this if it hasn't already been done :)

[2018-10-09 18:39] #65 closed

[2018-10-09 18:43] shreyasbapat commented on #67
Hi @abisummers ! There is no need to create one for inventory and administer! Coz, they are separate webapps ready to be deployed somewhere.
For others, please create a PR with Screenshots of what you have done.

[2018-10-09 19:02] shreyasbapat opened #70 "Add Zenith Details (Minimal - With Logo) on index.html"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-10-09 19:03] shreyasbapat commented on #63
Percy seem difficult now. They have removed the free usage.
Closing for now. We will have to rely on screenshots only!

[2018-10-09 19:03] #63 closed

[2018-10-10 16:21] shreyasbapat opened #72 "Add a space for Zenith on index.html and feature some statistics!"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-10-10 22:59] MADPT commented on #72
I've added a section for the statistics (#74). You just need to fill it and change the colors to your taste.

[2018-10-10 23:04] shreyasbapat opened #75 "Too many 404 and error page files."
**Describe the bug**
A clear and concise description of what the bug is.
Remove the files that are unnecessary.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2018-10-10 23:14] shreyasbapat commented on #42
https://github.com/STAC-IITMandi/STAC-IITMandi.github.io/wiki
Work is under serious progress :D
@akshat157 @akashdakoor We need a Code of Conduct.

[2018-10-11 16:45] #62 closed

[2018-10-11 16:46] shreyasbapat commented on #72
Closed in #74

[2018-10-11 16:46] #72 closed

[2018-10-11 16:46] shreyasbapat commented on #70
Closed in #74

[2018-10-11 16:46] #70 closed

[2018-10-26 19:44] jeel2308 commented on #67
![bug](https://user-images.githubusercontent.com/42006763/47588967-731da300-d985-11e8-9f39-9669cf5ccc27.png)
i found this bug.which can be solved using flex or grid.

[2018-10-27 17:49] shreyasbapat commented on #67
Hi, would you like to solve that?

[2018-11-09 18:06] plxity opened #78 "Aligning the footer in the center."
**Is your feature request related to a problem? Please describe.**
To make the UI/UX better we can align the footer in the center.

**Describe the solution you'd like**
Original footer
![2018-11-09 5](https://user-images.githubusercontent.com/28510494/48279897-fbb53c80-e477-11e8-9e9b-dd434299bb19.png)

After aligning it in center.
![2018-11-09 3](https://user-images.githubusercontent.com/28510494/

[2018-11-09 20:53] akshat157 commented on #78
I had tried it while designing the site, felt the former is better than center aligned. I still request @akashdakoor @shreyasbapat to give their reviews though. :)

[2018-11-09 20:53] akshat157 commented on #78
I had tried it while designing the site, felt the former is better than center aligned. Would still request @akashdakoor @shreyasbapat to give their reviews though. :)

[2018-11-09 20:59] shreyasbapat commented on #78
I feel center aligned also looks good!
We can merge it! GTG!

[2018-11-10 17:43] plxity commented on #78
@akshat157 @shreyasbapat @sonaralee  Please review the Pull Request

[2018-11-13 19:33] #78 closed

[2019-01-13 15:59] akshat157 opened #80 "Blank Read More links on homepage."
Blank/hash links there on STAC homepage under the heading "Competitions held at STAC."

Steps to reproduce the behavior:
1. Go to https://stac-iitmandi.org
2. Scroll down to Competitions held at STAC.
3. Click on 'Read More' on the cards.

**Expected behavior**
Only show read more if its applicable?

[2019-01-13 16:03] akshat157 opened #81 "Footer center-aligned only on Homepage"
#78 aligned the footer for the website in center and the changes were merged.
Seems like the change was done only on index.html and not the other webpages including templage.html which is generally used while creating a new page.

Changes required:
Align the footer contents in center as can be seen on https://stac-iitmandi.org

[2019-01-14 09:13] shreyasbapat commented on #81
Closed in #82  by @DumbMachine

[2019-01-14 09:13] #81 closed

[2019-01-23 06:36] Tushar-Tyagi commented on #80
Can i work on this issue?

[2019-01-23 11:20] Tushar-Tyagi commented on #80
![screenshot from 2019-01-23 16-40-20](https://user-images.githubusercontent.com/36927830/51602763-d5a72080-1f2d-11e9-9c48-748bd25142f7.png)
![screenshot from 2019-01-23 16-40-28](https://user-images.githubusercontent.com/36927830/51603121-e4420780-1f2e-11e9-8ed0-98e735d1fb23.png)
@shreyasbapat

[2019-01-23 15:16] shreyasbapat commented on #80
Closed in #84

[2019-01-23 15:16] #80 closed

[2019-02-06 20:31] aashish-ak opened #88 "Update all the links to stac.iitmandi.co.in"
**Describe the bug**
Update all the links from `stac-iitmandi.org` to `stac.iitmandi.co.in`
Use `http://` instead of `https://`

[2019-02-06 20:42] aashish-ak commented on #88
Also update the astrax link as relative link.

[2019-02-07 05:13] shreyasbapat opened #89 "Banner Screen Size Compatibility"
**Describe the bug**
AstraX logo and button is not screen size aware
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![screenshot 5](https://user-images.githubus

[2019-04-20 02:16] shreyasbapat opened #92 "Design the Activities Page properly"
The activities page should contain everything that we do. Which is not the case right now :)

[2019-04-20 02:17] shreyasbapat opened #93 "Design a page of AstraX for all editions"
The page may lead to AstraX websites

[2019-04-20 17:47] akshat157 opened #94 "Compress the images on the website"
Currently used images are not all compressed. This leads to a larger website and slower loading speed on a viewer's browser.

The images can be compressed using any online utility.

[2019-04-20 17:58] kartik1000 commented on #94
Also, quality needs to be kept in my mind. Reducing  after certain quality might make the image look bad

[2019-04-22 03:15] akshat157 commented on #94
@kartik1000 Yes!

[2019-05-02 07:15] akshat157 opened #95 "Modify the error 404 page to match the website template"
Current Error 404 page is very different than the website visual scheme. Plus it has an unnecessary search bar. What can be done is:

- An error 404 page built on the given website template. `template.html` OR
- Create a new page but it should match the visual scheme of the website.

Also, if planning to include the search bar in the new one, it can be made functional or totally removed.

[2019-05-03 19:39] shreyasbapat opened #96 "Showcase EinsteinPy and MiraPy somewhere in the website :)"
Links:
MiraPy: https://github.com/mirapy-org/MiraPy

EinsteinPy: 1)  https://einsteinpy.org
                   2) https://docs.einsteinpy.org
                   3) https://github.com/einsteinpy/einsteinpy

[2019-06-22 19:38] abhijeetmanhas opened #98 "Add preloader for website"
**Is your feature request related to a problem? Please describe.**
Website loading doesn't look nice on slow internet. Some images and text flash at unwanted location for a small moment which looks annoying.

**Describe the solution you'd like**
It would be better having a preloader, so that content is displayed only after it is fully loaded.It should satisfy some conditions:-

- It should be rela

[2019-06-26 09:54] yash-bansod commented on #98
I'll look into this

[2019-06-26 09:55] shreyasbapat commented on #98
But @akshat157 ? Is it good to have it? Or it will make the whole pipeline slow?

[2019-10-01 22:26] matheusagcosta commented on #67
Guys, I've created this popup option for those broken links. (PR above 🔝 )

What do you think?

![Screen Shot 2019-10-01 at 19 22 34](https://user-images.githubusercontent.com/3741582/66005223-30abf280-e481-11e9-996e-363081bad6bb.png)

[2019-10-03 00:04] abhijeetmanhas commented on #15
Would it be nice to keep all event posters in activities.html @ArshitaKalra @shreyasbapat ? Currently it is same as zenith

[2019-10-03 14:30] ana-bautista commented on #95
If you don't mind, I'd like to contribute for the first time, fixing this issue.

[2019-10-03 16:29] akshat157 commented on #95
Sure, go ahead!

[2019-10-03 16:37] ana-bautista commented on #95
Open a PR yet :+1:

[2019-10-04 10:05] tmoran18 commented on #94
Hi, I will have a go at compressing the images if that's ok.

[2019-10-04 20:29] akshat157 commented on #98
Please don't add a preloader. Its unnecessary as of now I believe. @abhijeetmanhas @yash-bansod I'd do a :-1: to this one.

[2019-10-04 21:01] abhijeetmanhas commented on #98
It is better to close it then. Thanks !

[2019-10-04 21:01] #98 closed

[2019-10-10 20:38] ana-bautista commented on #15
I can do it, if you send me the images :)

[2019-10-10 20:45] ana-bautista commented on #92
Do you have a list / images / links and other type of information of what it is need to be included?

[2019-10-17 19:10] ana-bautista opened #108 "Improve Accessibility and SEO"
**Is your feature request related to a problem? Please describe.**
I believe that a website must always be responsive and accessible.
If you think like me, It's time to Improve it!

**Describe the solution you'd like**
In order to improve the accessibility some changes need to be done:
- [ ] Background and foreground colors do not have a sufficient contrast ratio.
- [ ] <html> element must have a

[2019-10-19 00:47] ana-bautista commented on #108
I can work on it, what do you say? ;)

[2019-10-19 14:22] shreyasbapat commented on #108
Sure. Go ahead! I didn't actually had a look on what you proposed. I will follow up on PR.

[2019-10-22 18:20] abhijeetmanhas opened #109 "Ensure appropriate gap between two lines of title"
**Describe the bug**
On opening title page (`index.html` file) and projects page `achievements.html` on tablet device like ipad, two different lines of title overap.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'files mentioned'
2. Click on '....'
3. Look at 'heading div'.
4. See error

**Expected behavior**
There should be proper gap between two lines, for other screen sizes too.

[2019-10-22 18:31] abhijeetmanhas commented on #15
@ana-bautista you can make 9-12 css cards with some random images as of now, with random text, in your Pull Request, later we will change it with actual posters. Description text will be shown on clicking on the card.

[2020-04-14 08:42] abhijeetmanhas commented on #96
this is done I guess.

[2020-04-14 08:42] #96 closed

[2020-04-14 08:55] #89 closed

[2020-04-27 05:00] LalitNM commented on #109
@abhijeetmanhas I was checking [layout.css](https://github.com/STAC-IITMandi/STAC-IITMandi.github.io/blob/master/layout/styles/layout.css) I noticed that there media query is used at 10 places. Why can't we manage the code and make it easier to undersrtand for future developers. Moreover, we can easily solve this issue after specifying the width(no. of px) of tablets.

[2020-04-27 06:27] LalitNM commented on #109
@abhijeetmanhas I have solved this issue, but yet the code-base is not good enough. #115 Check this pr.

[2020-05-02 16:23] LalitNM commented on #67
@shreyasbapat I tried to solve this issue. Have a look at my PR #120.

[2020-10-04 09:05] LalitNM commented on #15
This issue will be fixed in next version of webpage.

[2020-10-04 09:06] #15 closed

[2020-10-04 09:06] LalitNM commented on #27
This issue will be fixed in next version of webpage.

[2020-10-04 09:06] #27 closed

[2020-10-04 09:06] LalitNM commented on #28
This issue will be fixed in next version of webpage.

[2020-10-04 09:06] #28 closed

[2020-10-04 09:06] LalitNM commented on #42
This issue will be fixed in next version of webpage.

[2020-10-04 09:06] #42 closed

[2020-10-04 09:06] LalitNM commented on #50
This issue will be fixed in next version of webpage.

[2020-10-04 09:06] #50 closed

[2020-10-04 09:06] LalitNM commented on #67
This issue will be fixed in next version of webpage.

[2020-10-04 09:06] #67 closed

[2020-10-04 09:07] LalitNM commented on #75
This issue will be fixed in next version of webpage.

[2020-10-04 09:07] #75 closed

[2020-10-04 09:09] LalitNM commented on #88
Fixed. You can check the [webpage](stac.iitmandi.co.in).

[2020-10-04 09:09] #88 closed

[2020-10-04 09:09] LalitNM commented on #92
This issue will be fixed in next version of webpage.

[2020-10-04 09:09] #92 closed

[2020-10-04 09:09] LalitNM commented on #93
This issue will be fixed in next version of webpage.

[2020-10-04 09:09] #93 closed

[2020-10-04 09:10] LalitNM commented on #94
This issue will be fixed in next version of webpage.

[2020-10-04 09:10] #94 closed

[2020-10-04 09:10] LalitNM commented on #95
This issue will be fixed in next version of webpage.

[2020-10-04 09:10] #95 closed

[2020-10-04 09:10] LalitNM commented on #108
This issue will be fixed in next version of webpage.

[2020-10-04 09:10] #108 closed

[2020-10-04 09:11] LalitNM commented on #109
Fixed. Check [web](stac.iitmandi.co.in).

[2020-10-04 09:11] #109 closed

[2020-10-04 16:41] harnaman-hk opened #124 "Add setup guide for different operating systems"
Presently, Contributing.md contains installation and setup instructions specific to ubuntu/debian (linux). Add instructions for other operating systems like Windows

[2020-10-07 04:11] LalitNM commented on #124
Fixed in #129. Thanks @tusharrao198.

[2020-10-07 04:11] #124 closed

[2020-10-07 04:19] LalitNM opened #130 "Update readme"
Update README.md with detailed explanation og this repository.

[2020-10-07 04:19] LalitNM opened #131 "Add Code_OF_CONDUCT"
There is no code of conduct right now, add there

[2020-10-07 04:21] LalitNM opened #132 "Add License"
Add License for this repository.

[2020-10-08 05:48] harnaman-hk opened #133 "Switch to sqlite"
The following tasks need to be done:
1. In src/web_main/settings.py remove the postgres database config and add the default django sqlite
2. Remove database setup from CONTRIBUTING.md
3. Remove psycopg2 from requirements.txt

[2020-10-09 09:24] LalitNM commented on #132
Added in #135.

[2020-10-09 09:24] #132 closed

[2020-10-12 03:06] LalitNM opened #137 "Add basic template.html"
At present there is no template file, add one.

[2020-10-12 03:08] LalitNM commented on #130
@shwetaatgit, please add some background info for this website.

[2020-10-12 13:48] LalitNM commented on #137
@gajrajgchouhan  I think you should create a PR for this, we can discuss further on this in that pull request.

[2020-10-13 19:20] tusharrao198 commented on #133
task already completed  in another issue.

[2020-10-13 19:20] #133 closed

[2020-10-20 16:52] LalitNM opened #139 "Add .editorconfig file"
At present there are none format rules which will be used throughout the project. Add a `.editorconfig` file with all basic rules.

[2020-10-28 13:40] LalitNM commented on #131
Fixed in #136

[2020-10-28 13:40] #131 closed

[2020-10-28 13:41] LalitNM commented on #137
Fixed in #138

[2020-10-28 13:41] #137 closed

[2020-10-31 08:10] tusharrao198 opened #140 "Footer to be modified."
At present, footer is as it was present in the template. It needs to be modified and increase aesthetics . Add some favicons along with the navigation links to important pages throughout the site  such as events, alumni's.
Eg. Link to contact us,  insta, fb,  and to other pages etc.

[2020-10-31 17:14] gajrajgchouhan opened #141 "Separate the navbar and base.html"
Make navbar.html which will hold the navbar separately from the base.html, and modify the base.html accordingly to load the navbar.

[2020-10-31 17:52] gajrajgchouhan opened #142 "Add new pages to the site."
- [x] About ( Contact info of coordinators, core members description).
- [x] AstraX
- [x] Utkarsh
- [x] Zenith
- [x] Alumni's Info page.
- [x] Photogallery
- [x] Video gallery, embed videos from youtube channel of STAC

[2020-11-04 04:39] LalitNM opened #144 "Remove carousal from template"
Ideally this should be in home.html, not template.

[2020-11-04 04:41] LalitNM opened #145 "remove footer code from template"
Make footer.html which will hold the footer separately from the base.html, also modify the base.html to load the footer.

[2020-11-04 11:12] LalitNM commented on #141
Fixed in #146

[2020-11-04 11:12] #141 closed

[2020-11-04 13:08] LalitNM commented on #145
Fixed in #147

[2020-11-04 13:08] #145 closed

[2020-11-06 06:48] #144 closed

[2020-11-06 06:49] LalitNM opened #148 "Add favicon"
Add the stac logo as favicon.

[2020-11-06 19:22] #140 closed

[2020-11-07 19:35] LalitNM opened #150 "Remove images of unsplash"
**Is your feature request related to a problem? Please describe.**
The images are not owned by STAC. We should use images owned by STAC only.

**Describe the solution you'd like**
Add images that are owned by STAC

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-11-08 05:39] LalitNM opened #151 "Active page is always 'Home' page"
**Describe the bug**
Active page is not updating after changing the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Change the page, e.g. go to `Zenith` page.
2. see that active page is always `Home` page.

**Expected behavior**
Active page should change to the current page

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.github

[2020-11-08 13:47] tusharrao198 commented on #148
Done in #149

[2020-11-08 13:50] LalitNM commented on #148
@tusharrao198 see [favicon-wikipedia](https://en.m.wikipedia.org/wiki/Favicon).

[2020-11-08 17:57] #130 closed

[2020-11-09 17:36] #151 closed

[2020-11-09 17:39] LalitNM commented on #142
Fixed in #149.

[2020-11-09 17:39] #142 closed

[2020-11-28 20:18] LalitNM commented on #139
fixed in #155

[2020-11-28 20:18] #139 closed

[2020-12-06 16:00] gajrajgchouhan opened #156 "Add information about STAC and its work"
- [ ] On Home page add projects and achievements.
- [ ] Add information about STAC from wiki page and from current site.

[2020-12-06 16:03] gajrajgchouhan opened #157 "Update the events page"
- [x] Pleaides page to be created in event section and some info on the event.
- [x] Add the first hackathon `maia` of Pleaides.
- [x] On the Zenith page, add description, events, results of last year, these are available on current site.

[2020-12-06 16:05] gajrajgchouhan opened #158 "Changes to Django project"
- [ ] Remove astrothon app from django project.

[2020-12-06 16:08] gajrajgchouhan opened #159 "Add members in team page"
- [ ] Team page to be created. Use the astraX site for photos of teammates. You can get the all the team members from wiki page.

[2020-12-08 17:49] tusharrao198 opened #162 "remove *.sqlite3 from gitignore file"
.sqlite3 file to be ignored from .gitignore file so that it can be uploaded on the github and user team members can use the same db model. This would be helpful so that anyone can add/update details  of the team members at any time.

[2020-12-09 14:40] tusharrao198 commented on #158
Done in #160

[2020-12-09 14:40] #158 closed

[2020-12-10 13:57] tusharrao198 commented on #162
Resolved in PR #161

[2020-12-10 13:57] #162 closed

[2020-12-10 13:58] tusharrao198 commented on #159
Done in #161

[2020-12-10 13:58] #159 closed

[2020-12-10 17:49] harnaman-hk opened #165 "Customize navbar"
Navigation bar needs to light-themed over dark backgrounds (header of home page) and dark-themed over light backgrounds. It should effectively transition between these two styles.

[2020-12-11 02:43] LalitNM commented on #150
@harnaman-hk looks like you have fixed this in #164... can we close this?

[2020-12-11 03:20] LalitNM commented on #165
@harnaman-hk, what if we move whole website to dark theme? That would be great.

[2020-12-11 05:05] LalitNM opened #166 "Clean directory structure"
**Is your feature request related to a problem? Please describe.**
It is quite difficult to add features like favicon in the present directory structure.

**Describe the solution you'd like**
Remove all `stac_iitmandi` ([src/stac_iitmandi](https://github.com/STAC-IITMandi/STAC-IITMandi.github.io/tree/main/src/stac_iitmandi), [static/stac_iitmandi](https://github.com/STAC-IITMandi/STAC-IITMandi.git

[2020-12-11 07:19] JanhaviShedge commented on #156
Which photos do we have for projects?

[2020-12-11 07:48] LalitNM commented on #156
@gajrajgchouhan and @harnaman-hk, this issues doesn't have `urgent` or `ToDo` label. Is there something we need to fix before @JanhaviShedge can start working on this?

[2020-12-12 10:33] tusharrao198 opened #168 "navbar- toggle button to be changed"
At present,  in mobile view toggle button is just a yellow color line that needs to be  changed.
Update the button with more user friendly.
Make sure, to check whether the toggle button is working .

Image :-
![image](https://user-images.githubusercontent.com/56690827/101981509-81c59200-3c93-11eb-94d3-2b57e73ccf39.png)

[2020-12-12 10:43] tusharrao198 opened #169 "Update navbar-menu to open from left side in mobile-view"
At present, the navbar-menu in mobile-view comes  out vertically downward. You need to update the menu to  slide out/in from left side to make it user-friendly in mobile-view.

[2020-12-12 10:51] tusharrao198 opened #170 "Adjust the STAC logo to either left/right side in mobile-view in navbar"
At present, the STAC logo shifts to center when in mobile-view.
In reference to issue #169.  You need to adjust the STAC logo in convenience with the  navbar-menu slide out/in changes.
For present view of the page, see issue #168

[2020-12-12 11:03] tusharrao198 opened #171 "Photos needs to be resized on team page to bring uniformity."
At present, some photos needs ot be resized to bring uniformity in the appearance of the all team members both in desktop and mobile-view.

[2020-12-12 11:08] tusharrao198 opened #172 "Increase footer aesthetics."
Footer needs to be modified to make some changes to make it look more useful.

[2020-12-12 11:19] tusharrao198 opened #173 "script for prompting users to message ( no link exist)."
At present, the team members' social links are not fully  added.  Whenever user tries to click on the link it rediects to the top.
You need ot create a script prompting users to know if link exist or not.

[2020-12-13 20:10] tusharrao198 opened #174 "Add former coordinators in the core team section."
At present , the core teams section  contains  none of the former coordinators. You need to add them in the coordinators models  db . You can just do this simply going to django-admin page .

[2020-12-13 21:53] masonwoodford commented on #174
Hello, I'm very new to open source projects but I would like to contribute, where would I be able to find a list of former coordinators?

[2020-12-14 04:54] LalitNM commented on #166
As suggested by @tusharrao198, it is possible that in future we might need to add some other app in this repository. Then this will be helpful to have separate directories.

[2020-12-14 04:54] #166 closed

[2020-12-14 04:57] LalitNM commented on #150
Fixed in #164

[2020-12-14 04:57] #150 closed

[2020-12-14 05:01] LalitNM commented on #174
Hi, @masonwoodford, I'm glad to see your participation in open source. We are always here to help you to get started with open source. But, this issue needs to be fixed by one of the members of @STAC-IITMandi. For you, I added `help wanted` label to #169 and #172. You can start working on them.

[2020-12-14 09:49] tusharrao198 commented on #165
We can create a switch to dar mode button later. but right now  navbar visibility fixed when scrolled down.
Done in #167

[2020-12-14 09:49] #165 closed

[2020-12-14 09:57] tusharrao198 opened #175 "Add Scroll top button"
You need to add  a scrolltop button.

[2020-12-14 16:06] tusharrao198 commented on #168
Done in #177.

[2020-12-14 16:06] #168 closed

[2020-12-14 16:07] tusharrao198 commented on #170
Done in #177

[2020-12-14 16:07] #170 closed

[2020-12-14 17:13] tusharrao198 commented on #175
Done in #178

[2020-12-14 17:13] #175 closed

[2020-12-15 13:45] tusharrao198 commented on #174
Done in #179

[2020-12-15 13:45] #174 closed

[2020-12-15 13:46] tusharrao198 commented on #171
Done in #179

[2020-12-15 13:46] #171 closed

[2021-01-01 18:05] LalitNM commented on #156
This has been fixed.

[2021-01-01 18:05] #156 closed

[2021-01-01 18:06] LalitNM commented on #169
@tusharrao198, I think the present UI is also good, do we still need to do this?

[2021-01-01 18:45] tusharrao198 commented on #169
Yes, It's looking good now. No need of this.
closing this issue.

[2021-01-01 18:45] #169 closed

[2021-01-02 15:03] LalitNM opened #189 "checks failing in views.py"
In every pull request some checks are failing in [views.py](https://github.com/STAC-IITMandi/STAC-IITMandi.github.io/blob/e39ed291a6914c3ae7b481704d1e01a4ba5b7fee/src/stac_iitmandi/views.py#L1-L135), They should be fixed.

[2021-01-02 15:24] LalitNM opened #190 "Fix position of navbar toggler on mobile sized devices"
**Describe the bug**
The position of navbar toggler is not on the right side of screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the site
2. Resize to 750*500 px
4. See error

**Expected behavior**
The position should be extreme right, with some margin.

**Screenshots**
![Screen Shot 2021-01-02 at 20 46 37](https://user-images.githubusercontent.com/63332774/103460463-58e96780-4d3c

[2021-01-02 17:01] #173 closed

[2021-01-02 19:12] LalitNM opened #191 "Add photogallery"
Add some photos in photogallery.

[2021-01-03 10:31] #190 closed

[2021-01-03 10:33] LalitNM commented on #191
Thanks @tusharrao198 for fixing this in de429108ab72b65859808e76918d68d626624125.

[2021-01-03 10:33] #191 closed

[2021-01-03 17:04] #172 closed

[2021-01-04 06:11] tusharrao198 commented on #189
Issue solved in commit ff9d2d

[2021-01-04 06:11] #189 closed

[2021-01-05 19:59] LalitNM opened #195 "Add team head section"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I see only two people leading the team, we actually have a few team heads as well.

**Describe the solution you'd like**
A section of team heads after coordinators apart from whole core team can be added.

**Describe alternatives you've considered**
I don't this that there is an alternative. We should add

[2021-01-08 05:56] tusharrao198 commented on #157
All ticks done! Closing this.

[2021-01-08 05:56] #157 closed

[2021-01-30 16:17] abhijeetmanhas opened #196 "Add deployment instructions"
Extend Readme or create an instruction file how to run on localhost.

[2021-02-03 11:36] tusharrao198 commented on #195
@LalitNM , first i need a list of all the team heads and their team members

[2021-02-06 03:33] harnaman-hk commented on #196
This is in context to local development deployment or final production deployment?

[2021-02-06 09:07] abhijeetmanhas commented on #196
@harnaman-hk it is local deployment. You can add production as well if you wish but not necessary.

[2021-02-06 11:49] harnaman-hk commented on #196
@abhijeetmanhas Local deployment instructions are already there in [CONTRIBUTING.md](https://github.com/STAC-IITMandi/STAC-IITMandi.github.io/blob/main/CONTRIBUTING.md)

[2021-02-06 12:18] abhijeetmanhas commented on #196
Thanks. I'm closing the issue then.

[2021-02-06 12:18] #196 closed

[2021-02-07 10:28] LalitNM commented on #196
@harnaman-hk, maybe we should add a link to contributing.md file in readme.md, to avoid such issues in future.

[2021-02-17 09:08] tusharrao198 opened #197 "Add Utkarsh logo."
You need to replace the Utkarsh Logo with the new one.
Make sure that logo on the homepage and Utkarsh main page is rendered from the same path. ****

[2021-03-06 18:34] tusharrao198 commented on #197
resolved in pull request #199

[2021-03-06 18:34] #197 closed

[2021-03-06 18:34] tusharrao198 commented on #195
resolved in pull request #199

[2021-03-06 18:34] #195 closed

[2021-09-27 20:17] LalitNM commented on #148
Fixed in 125c3912987e76aba9dd5b660ce3c61d6649669d.

[2021-09-27 20:17] #148 closed